*{
    font-family: 'Times New Roman', Times, serif;
}
h1{
    text-transform: uppercase;
}
#one{
    font-size: 25px;
}
#two{
    font-size: 10px;
}
div{
    background-color: pink;
    height: 100px;
    width: 100px;
    text-align: left;
    text-decoration: dotted;
    border:2px solid #000;
    border-radius:5px;
    padding: 25px 25px 50px 50px;
    margin: 25px 25px 50;
}