*{
    color: rgb(204, 14, 45);
}
p{
    color: blue;
    text-align: center;
    text-decoration:overline;
    font-weight: 400; 
    font-family: cursive;
}
#hero{
    background-color: aqua;
}
.villian{
    background-color: grey;
}
a{text-decoration: none;

}
#one{
    font-size: 25px;
}
#two{
    font-size: 15px;
}
#three{
    font-size: 10px;
}
#hx{
    line-height: 50px;
}
#hrx{
    text-transform: lowercase;
}